@import "tailwindcss";
/* .public-DraftEditor-content { */
/*   padding-inline: 20px !important; */
/* } */
.manacoEnvFound {
  font-style: italic !important;
  border-radius: 6px;
  color: var(--color-yellow-500) !important;
  font-weight: bold !important;
}

.Toastify__toast-theme--dark {
  background-color: var(--theme-color-brand) !important;
}
@theme {
  --color-brand: var(--theme-color-brand);
  --color-sec: var(--theme-color-sec);
  --color-accent: var(--theme-color-accent);

  --color-lines: var(--theme-color-lines);
  --color-txtprim: var(--theme-color-txtprim);
  --color-txtsec: var(--theme-color-txtsec);
  --color-lit: var(--theme-color-lit);
}

@layer base {
  :root {
    --theme-color-brand: #16161f;
    --theme-color-sec: #1a1b27;
    /* --theme-color-accent: var(--color-indigo-400); */
    --theme-color-accent: #c53b53;

    --theme-color-lines: #2f3845;
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="restmate"] {
    --theme-color-brand: #212121;
    --theme-color-sec: #262626;
    --theme-color-accent: #6366fb;

    --theme-color-lines: #2f3845;
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="dracula"] {
    --theme-color-brand: #282a36;
    --theme-color-sec: #2e303e;
    --theme-color-accent: #ff61ba;

    --theme-color-lines: var(--color-gray-700);
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="ayu"] {
    --theme-color-brand: #0d1016;
    --theme-color-sec: #151a23;
    --theme-color-accent: #df9e1c;

    --theme-color-lines: #191f2b;
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="nord"] {
    --theme-color-brand: #2e3440;
    --theme-color-sec: #3b4252;
    --theme-color-accent: #8fbcbb;

    --theme-color-lines: var(--color-gray-700);
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="malta"] {
    --theme-color-brand: #212121;
    --theme-color-sec: #262626;
    /* --theme-color-accent: var(--color-indigo-400); */
    --theme-color-accent: #ff6c37;

    --theme-color-lines: #2f3845;
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="tokyoNight"] {
    --theme-color-brand: #16161f;
    --theme-color-sec: #1a1b27;
    /* --theme-color-accent: var(--color-indigo-400); */
    --theme-color-accent: #c53b53;

    --theme-color-lines: #2f3845;
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
}

.szh-menu__item--hover {
  background-color: var(--color-lines) !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}